.cont{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000000000000000000;
    overflow: hidden;
    transition: 0.5s;
}
.bx{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 10;
    background: white;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.form{
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.form form{
    position: relative;
    padding:30px 15px 30px 15px;
    border-radius: 10px;
    background: rgba(255, 69, 0,0.3);
}

.submit{
    position: relative;
    border: none;
    padding: 15px;
    background: var(--hlColor);
    width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: "PoppinsBold";
    margin-top: 25px;
}
.submit:hover{
    background: rgb(246, 99, 45);
}
.error{
    position: relative;
    font-size: 0.8em;
    color: red;
    background: rgba(255, 0, 0,0.2);
    padding: 5px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.resp{
    position: relative;
    color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resp span:nth-child(1){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 1.5em;
}