
.cont{
    position: fixed;
    z-index: 100000000;
    width: 100vw;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(135, 134, 134, 0.5);
    
}
.content{
    position: relative;
    background: white;
    padding: 20px; 
    border-radius: 20px;
}

.input{
    position: relative;
    width: 500px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    color: var(--darkLetter);
}
.input .inputBx{
    position: relative;
    margin-left: 15px;
    color: var(--darkLetter);
    border-bottom: 1px solid rgb(216, 215, 215);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input .inputBx input{
    color: var(--darkLetter);
}
.inputBx span{
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.3s;
}
.inputBx span:hover{
    color: var(--hlColor);
}
.inputBx input{
    border: none;
    outline: none;
    background: transparent;
}


.linkDetails{
    position: relative;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.imageBx{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 15px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    border-radius: 20px;
    margin: 0 auto;
}
.details{
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.detail{
    position: relative;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.detail span:nth-child(1){
    font-family: "PoppinsBolder";
}

.link{
    position: relative;
    padding: 5px;
   /* border: 1px solid rgb(225, 224, 224);*/
    border-radius: 10px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link span{
    position: relative;
    font-family: "PoppinsRegular" !important;
    
}
.icon{
    position: relative;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    transition: 0.3s;
}
.icon:hover{
    color: var(--hlColor);
}


.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader{
    color: var(--darkLetter);
    font-size: 1.2em;
    
}
.code{
    position: relative;
    width: 380px;
   
}
.deseableBtn{
    background: rgb(173, 172, 172) !important;
}

.iconBx{
    position: relative;
    width: 100%;
    color: var(--darkLetter);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.iconClose{
    cursor: pointer;
    font-size: 1.8em;
}

.headerDetail{
    color: var(--darkLetter);
    margin-bottom: 20px;
    font-family: "PoppinsBolder";
}


@media(max-width:768px){
    .cont{
        padding: 0;
        background: white;
        align-items: flex-start; 
    }
    .content{
        position: relative;
        width: 100%;
        height: 90vh;
        border-radius: 0; 
    }
    .btn button{
        margin-top: 20px;
    }
}

@media(max-width:478px){
    .linkDetails{
        width: 100%;
    }
    .details{
        width: 100%;
        padding: 0;
    }
    .detail{
        width: 100%;
    }
    .link{
        width: 100%;
    }

}

