
.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
   /* padding-top: 80px;*/
    
}
.content{
    position: relative;
    width: calc(100vw - 320px);
    height: 90vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    padding-top: 50px;
}
.contBx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 20px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    
}
.header{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}

.input{
    margin-top: 50px;
    position: relative;
    width: 90%;
    border: 1px solid var(--hlColor);
    border-radius: 20px;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;
}
.input .inputBx{
    position: relative;
    color: var(--darkLetter);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input .inputBx input{
    color: var(--darkLetter);
}
.inputBx span{
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.3s;
}
.inputBx span:hover{
    color: var(--hlColor);
}
.inputBx input{
    border: none;
    outline: none;
    background: transparent;
}
.cont button,
.cont1 button{
    position: relative;
    border: none;
    background: var(--hlColor);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 30px;
    text-transform: uppercase;
    color: var(--lightLetter);
}
.cont button:hover,
.cont1 button:hover{
    background: var(--hlColorHover);
}
.imageBx{
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 80px;
}
.description{
    position: relative;
    width: 90%;
    margin-top: 30px;
    text-align: center;
}
.description span{
    font-family: "PoppinsBolder";
}
.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader{
    color: var(--darkLetter);
    font-size: 1.2em;
}
.deseableBtn{
    background: rgb(173, 172, 172) !important;
}
.loader{
    position: relative;
    padding-top: 50px;
}
.error{
    color: var(--lightLetter);
    position: absolute;

    width: 100%;
    text-align: center;
}
@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
    }
    .header{
        margin-top: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .description{
        width: 100%;
    }
    .input{
        width: 100%;
    }
    .input .inputBx{
        width: 100%;

    }
    .inputBx input{
    width: 100%;
    }
    .contBx{
        width: 95%;
        padding: 20px;
    }
}
@media(max-width:518px){
    .input{
        width: 100%;
    }
    
    .inputBx span{
        font-size: 1em;
        width: 10%;
    }
    .imageBx{
        position: relative;
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
}

@media(max-width: 389px){
    .input label{
        font-size: 0.8em;
    }
    .inputBx span{
        font-size: 0.8em;
    }
    .description{
        font-size: 0.8em;
    }
    .detail{
        font-size: 0.8em;
    }
}