.depositosBx{
    position: relative;
    width: 100%;

}
.prov{
    position: absolute;
    z-index: 10000000000;
    width: 100%;
    height: 130vh;
    height: 100%;
    bottom: 0px;
}

.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;    
}
.content{
    position: relative;
    width: calc(100vw - 320px);
    min-height: 90vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10vh;
}
.bx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.contBx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 20px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.description{
    position: relative;
    width: 90%;
    text-align: center;
    
}
.description span{
    font-family: "PoppinsBolder";
}
.header{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}

.depo{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding: 20px;
    
    border-radius: 10px;
    min-height: 700px;
    margin-top: 30px;
    margin-bottom: 50px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;

    
}


/*-----------------CARD----------------*/
.card{
    color: var(--darkLetter);
    width: 100%;
    min-height: 150px;
    
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--lightColor);
}

.card div span:nth-child(2){
    font-family: "PoppinsBolder";
}
.info{
    position: relative;
    height: 75%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}
.info div{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.date{
    font-size: 0.8em;
    width: 75px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-bottom: 3px solid var(--hlColor);
}
   

.btnBx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%; 
    
}
.btnBx button{
    position: relative;
    top: 0 !important;
    margin-top: 0 !important;
    width: 100%;
    
    
    
    /*padding: 8px !important;
    border-radius: 30px !important;
    text-transform: none !important;*/
}
.cont button,
.cont1 button{
    position: relative;
    border: none;
    background: var(--hlColor);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--lightLetter);
    margin-top: 30px;
}
.cont button:hover,
.cont1 button:hover{
    background: var(--hlColorHover);
}
.popUp{

    display: flex;
    align-items: center;
    justify-content: center;
}

.progreso{
    position: relative;
    display: flex;
}
.hover{
    position: absolute;
    width: 100px;
    font-size: 0.8em;
    z-index: 100;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    padding: 5px;
    border-radius: 10px;
    top: 40px;
    /*display: none;*/
    display: none;
    transition: 0.3s;
}
.deseableBtn{
    background: rgb(173, 172, 172) !important;
}
.empty{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkLetter);
}
.sessionDeposBx{
    position: relative;
    width: 100%;
}
.icon{
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
}
.popUp:hover .hover{
    display: block;
}
.loaderDepo{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.depositsBx{
    position: relative;
    width: 100%;
}
.error{
    color: var(--lightLetter);
    position: fixed;
    width: 100%;
    height: 90vh;
    text-align: center;
    z-index: 100000;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media(max-width: 1324px){
    .depo{
        width: 90%;
    }
}
@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
    }
    .header{
        margin-top: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .description{
        width: 100%;
        
    }
    .input{
        width: 100%;
    }
    .input .inputBx{
        width: 100%;

    }
    .inputBx input{
    width: 80%;
    }
    .contBx{
        margin-top: 30px;
        margin-bottom: 50px;
        width: 90%;
        padding: 20px;
    }
    .depo{
        width: 90%;
        margin-top: 30px;
        padding: 10px;
       
        
    }
    .info{
        font-size: 0.8em;
    }
    .card{
        padding: 15px;

    }
    .sessionDeposBx{
        width: 100%;
    }
}
@media(max-width: 646px){
    
    .card{
        flex-direction: column;
        
    }
    .info{
        width: 100%;
    }
    .btnBx{ 
        width: 100%;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-around;
        
    }
    
}
@media(max-width: 389px){
    .input label{
        font-size: 0.8em;
    }
    .inputBx span{
        font-size: 0.8em;
    }
    .description{
        font-size: 0.8em;
    }
    .detail{
        font-size: 0.8em;
    }
}