.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top:30px;*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.content{
    position: relative;
    width: calc(100vw - 350px);
    height: 90vh;

}
.header{
    position: relative;
    height: 40px;
    min-width: 250px;
    margin: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}

/*-----------------RECIBO-----------------*/
.reciboBx{
    color: var(--darkLetter);
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    border-radius: 20px;
    padding: 15px;
}
.qr{
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.detail{
    position: relative;
    display: flex;
}
.detail2{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center; 
    
}
.link{
    position: relative;
    display: flex;
    
}
.icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.icon:hover,
.iconTrash:hover{
    color: var(--hlColor);
}
.code{
    color: var(--hlColor);
}
.name,
.monto{
    position: relative;
    font-family: "PoppinsBolder";
}

.iconTrash{
    position: relative;
    font-size: 1.2em;
    transition: 0.3s;
    cursor: pointer;
}



@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
    }
}