.cont{
   position: absolute;
   z-index: 10000000;
   position: fixed;
   height: 120px;
   width: 100%;
   background: white;
   -webkit-box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);
    -moz-box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);
    box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);

}
.logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    position: relative;
    width: 80px;
    height: 80px;
}
.logo span{
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: "PoppinsBolder";
    margin-left: -15px
}
.superior{
    position: relative;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    position: relative;
    width: 400px;
    border: 2px solid var(--hlColor);
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;
}
.input input{
    position: relative;
    width: 82%;
    height: 100%;
    background: transparent;
    border: none;
    color: black;
}
.input input:active, .input input:focus{
    outline: none;
    border: none;
}
.icon{
    width: 60px;
    font-size: 1.5em;
    background: var(--hlColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBx{
    position: relative;
    font-size: 1.5em;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconBx .contIcon span,
.iconBx .contIcon1 span{
    cursor: pointer;
    color: var(--hlColor);
}
.iconBx .contIcon div,
.iconBx .contIcon1 div{
    position: absolute;
    background: rgba(0, 0, 0,0.5);
    font-size: 11px;
    margin-top: 10px;
    min-width: 10px;
    padding: 2px;
    border-radius: 2px;
    margin-left: -10px;
}
.cont1, .cont2{
    visibility: hidden;
}
.contIcon1:hover .cont1,
.contIcon1:hover .cont2{
    visibility: visible;    
}
.section2{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnProducts{
    position: relative;
    padding: 5px;
    background: var(--hlColor);
    width: 120px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btnProducts:hover{
    background: rgb(246, 99, 45);
}
.btnProducts span{
    color: white;
}
.productList{
    position: absolute;
    visibility: visible;
    background: white;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);
    -moz-box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);
    box-shadow: 0px 5px 6px 0px rgba(164,163,166,1);
}
.invisible{
    position: absolute;
    visibility: hidden;
    
}
.productList ul{
    list-style: none;
}
.productList ul li{
    padding: 10px; 
    transition: 0.3s;  
}
.productList ul li:hover{
    background: rgba(255, 68, 0,0.2);

}
.routes{
    position: relative;
    color: black;
    width: 600px;
    
}
.routes ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.active{
    color: var(--hlColor);
}