.card{
    position: relative;
    min-height: 200px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px;
    -webkit-box-shadow: -1px -3px 16px 0px rgba(189,189,189,1);
    -moz-box-shadow: -1px -3px 16px 0px rgba(189,189,189,1);
    box-shadow: -1px -3px 16px 0px rgba(189,189,189,1);
}
.top{
    position: relative;
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}
.top:hover{
    background: #f5f5f5;

}
.imgBx{
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imgBx img{
    position: relative;
    width: 90%;
    height: 100%;
}
.descont{
    position: relative;
    background: var(--hlColor);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-size: 0.8em;
    color: var(--lightLetter);
    bottom: -80px;
    left: 30%;
    
}
.detail{
    position: relative;
    color: var(--darkLetter);
    padding-left: 10px;
    font-size: 0.8em;
}
.label{
    font-family: 'PoppinsBold';
    padding-bottom: 5px;
    font-size: 1.5em;
}
.description{
    padding-bottom: 5px;
}
.price{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.priceRight{
    color: var(--hlColor);
    font-family: "PoppinsBold";
    font-size: 1.2em;
}
.priceDesc{
    text-decoration: line-through;
    font-size: 0.8em;
}
.buySection{
    position: relative;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;border-radius: 10px;
}
.actions:hover{
    border: 1px solid black;
}
.actions .input{
    position: relative;
}
.actions .input .formControl{
    position: relative;
    width: 30px;
    color: var(--darkLetter);
    background: transparent;
    border: none;
    text-align: center;
}
.actions .btn{
    background: transparent;
    color: var(--hlColor);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btnBx{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--hlColor);
    color: var(--lightLetter);
    height: 35px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.btnBx:hover{
    background: rgb(246, 99, 45);
}
.icon{
    position: relative;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
.cart{
    font-size: 1em;
    text-transform: uppercase;
}

@media(max-width: 478px){

    .imgBx{

        height: 100px;
    }
    .descont{
        position: relative;
        background: var(--hlColor);
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        font-size: 0.8em;
        color: var(--lightLetter);
        bottom: -50px;
        left: 30%;
        
    }


    .btnBx{
        padding: 5px;
        font-size: 0.8em;
        height: 30px;
        
    }
}