
.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.content{
    position: relative;
    width: calc(100vw - 320px);
    height: 90vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100%;
    padding-top: 50px;
}
.header{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}

.input{
    position: relative;
    width: 500px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--darkLetter);
}
.input .inputBx{
    position: relative;
    color: var(--darkLetter);
    border-bottom: 1px solid rgb(216, 215, 215);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input .inputBx input{
    color: var(--darkLetter);
}
.inputBx span{
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.3s;
}
.inputBx span:hover{
    color: var(--hlColor);
}
.inputBx input{
    border: none;
    outline: none;
    background: transparent;
}
.cont button, .cont1 button{
    position: relative;
    border: none;
    background: var(--hlColor);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 30px;
    text-transform: uppercase;
    color: var(--lightLetter);
}
.cont button:hover,
.cont1 button:hover{
    background: var(--hlColorHover);
}
.description{
    position: relative;
    width: 90%;
    margin-top: 30px;
    text-align: center;
}
.description span{
    font-family: "PoppinsBolder";
}
.visible{
    position: relative;
    margin-top: 80px;
    width: 100%;
    display: none;

}
.linkDetails{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));

}
.imageBx{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 15px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    border-radius: 20px;
    margin: 0 auto;
}
.details{
    position: relative;
    padding-left: 30px;
    margin: 0 auto;
   width: 100%;
    
}
.detail{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
}
.detail span:nth-child(1){
    font-family: "PoppinsBolder";
}
.detail span:nth-child(2){
    margin-left: 10px;
}
.link{
    position: relative;
    padding: 5px;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.link span{
    position: relative;
    font-family: "PoppinsRegular" !important;
    
}
.icon{
    position: relative;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    transition: 0.3s;
}
.icon:hover{
    color: var(--hlColor);
}


.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader{
    color: var(--darkLetter);
    font-size: 1.2em;
}
.code{
    position: relative;
    width: 380px;
   
}
.deseableBtn{
    background: rgb(173, 172, 172) !important;
}
.loader{
    position: relative;
    padding-top: 50px;
}


@media(max-width: 1392px){
    .linkDetails{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }

    .link{
        position: relative;
        width: 80%;    
    }
    .detail{
        width: 100%;
    }
    .details{

        padding-left: 0px;
        
    }
    .detail{
        position: relative;
        padding: 10px;
        display: flex;
        align-items: center;
    }
}
@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
        margin: 0;
    }
    .header{
        margin-top: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .input{
        width: 90%;
    }
    .input .inputBx{
        width: 100%;

    }
    
}
@media(max-width:589px){
    .linkDetails{
        flex-direction: column;
        margin-top: 50px;
    }
    
    /*.imageBx{
        width: 120px;
        height: 120px;
    }*/
    .details{
        margin-top: 20px;
    }
    .detail{
        padding: 5px;
    }
}
@media(max-width:518px){

    
    
    .inputBx span{
        font-size: 1em;
        width: 10%;
    }
}
@media(max-width: 389px){
    .input label{
        font-size: 0.8em;
    }
    .inputBx span{
        font-size: 0.8em;
    }
    .description{
        font-size: 0.8em;
    }
    .detail{
        font-size: 0.8em;
    }
}