.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.content{
    position: relative;
    width: calc(100% - 320px);
    height: 90vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10vh;
}
.bx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
.contBx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 20px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    
}
.description{
    position: relative;
    width: 90%;
    text-align: center;
    
}
.description span{
    font-family: "PoppinsBolder";
}

.header{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.iconCalc{
    position: relative;
    color: var(--hlColor);
    background: red;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}
.input{
    margin-top: 50px;
    position: relative;
    width: 90%;
    border: 1px solid var(--hlColor);
    border-radius: 20px;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    overflow: hidden;
}
.input input{
    position: relative;
    margin-left: 15px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--darkLetter);
    width: 100%;
}
.cont button,
.cont1 button{
    position: relative;
    border: none;
    background: var(--hlColor);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 30px;
    text-transform: uppercase;
    color: var(--lightLetter);
}
.cont button:hover,
.cont1 button:hover{
    background: var(--hlColorHover);
}
.deseableBtn{
    background: rgb(173, 172, 172) !important;
}
.regalo{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader{
    color: var(--darkLetter);
    font-size: 1.2em;
}
.error{
    color: var(--lightLetter);
    position: absolute;

    width: 100%;
    text-align: center;
}
@media(max-width:1036px){
    .input{
        width: 100%;
    }
    .input input{
        color: var(--darkLetter);
        width: 90%;
    }
    .input span{
        font-size: 1em;
        width: 10%;
    }
}
@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
        margin: 0;
    }
    .header{
        margin-top: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .description{
        width: 100%;
    }
    .input{
        width: 100%;
    }
    .input .inputBx{
        width: 100%;

    }
    .inputBx input{
    width: 80%;
    }
    .contBx{
        
        width: 95%;
        padding: 20px;
    }
}

@media(max-width: 389px){
    .input label{
        font-size: 0.8em;
    }
    .input input{
        font-size: 0.8em;
    }
    .description{
        font-size: 0.8em;
    }

}

