.cont{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.content{
    position: relative;
    width: calc(100vw - 320px);
    height: 90vh;
    margin-right: 10px;

}
.cont1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    position: relative;
    height: 40px;
    min-width: 250px;
    /*margin: 5px;*/
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.line{
    position: relative;
    height: 100%;
    width: 5px;
    background: var(--hlColor);
    border-radius: 50px;
    margin-right: 10px;
}
.operations{
    position: relative;

    width: 100% !important;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
}
.oppBx{
    position: relative;
    display: flex;
    padding-top: 30px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-top: 30px;
    display: grid;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
}
.total{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center ;
    
}
.points{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 198, 198, 0.5);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    z-index: 1;
}
.total span{
    position: relative;

    font-size: 2.3em;
    font-family: "PoppinsBolder";
    color: var(--lightLetter);
}
 .balance{
    position: relative;

    color: var(--lightLetter);
    
}
.opp{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
}
.opp div{
    background: var(--hlColor);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: white;
    font-size: 1.2em;

}
.opp div:hover{
    background: var(--hlColorHover);
}
.opp span{
    position: relative;
    padding-top: 10px;
   /* font-family: "PoppinsBold";*/
    
    
}
.options{
    position: relative;
    width: 100%;

    padding-left:20px ;
    padding-bottom:20px ;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
}
.transactions{
    position: relative;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    background: whitesmoke;
    box-shadow:  4px 4px 8px #a2a2a2;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.slider{
    position: relative;
    height: 100%;
}
.header1{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    padding: 5px 0 10px 0;
    border-bottom: 1px solid #a2a2a2;
}
.header1 span{
    cursor: pointer;
}
.header1 span:nth-child(2){
    margin-left: 15px;
}
.transactionBx{
    position: relative;
    height: 100%;
    height: 420px;
    overflow-y: scroll;
    
}
.active{
    color: var(--hlColor);
    font-size: 0.8em;
    text-transform: uppercase;
}
.inActive{
    font-size: 0.8em;
    text-transform: uppercase;
}
.empty{
    color: var(--darkLetter);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
/*--------------TRANSACCIONES------------*/
.tranBx{
    display: flex;
    padding: 5px;
    /*margin-top: 10px ;*/
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--darkLetter);
    /*background: whitesmoke;*/
    border-radius: 10px;
    /*box-shadow:  4px 4px 8px #a2a2a2;*/
    cursor: pointer;

}
.tranCont{
    position: relative;
    display: flex;
    align-items: center;
}
.icon{
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--hlColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--lightLetter);
    font-size: 1.2em;
}
.detailBx{
    position: relative;
    padding-left: 20px;
}
.amount{
    position: relative;
    padding: 5px 10px 5px 10px;
    min-width: 100px;
    background: var(--hlColor);
    color: var(--lightLetter);
    border-radius: 20px;
    font-size: 0.8em;
}
.detail{
    font-family: "PoppinsBold";
}
.ts{
    font-size: 0.8em;
}
.subHeader{
    color: var(--darkLetter);
    font-size: 1.2em;
}

.cont1 button,.transactions button{
    position: relative;
    border: none;
    padding: 15px;
    background: var(--hlColor);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--lightLetter);
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: "PoppinsBold";
    top: 20px;
}
.cont1 button:hover, .transactions button:hover{
    background: var(--hlColorHover);
}
.options button{
    position: relative;
    border: none;
    padding: 10px;
    background: var(--hlColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--lightLetter);
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: "PoppinsBold";
    top: 20px;
    font-size: 1.2em;
}
@media(max-width: 1520px){
    .transactions{
        width: 90%;
    }
}
@media(max-width:1066px){
    .transactions{
        width: 100%;
    }

    .content{
        position: relative;
        width: calc(100vw - 320px);
    }
}

@media(max-width: 820px){
    .total span{
        font-size: 1.8em;
    } 
    .opp span,.detail {
        font-size:  1em;
    }
    .opp div{
        width: 45px;
        height: 45px;
    }
    .ts{
        font-size: 0.8em;
    }
    .tranBx{
        width: 100%;
    }
}

@media(max-width:768px){
    .content{
        position: relative;
        width: 100%;
        margin: 0;

    }
    .imgBxWallet{
        width: 100%;
    }
    .total{

        width: 100%;
    }
    .operations{
        width: 100%;
    }
    .header{
        margin-top: 0px;
        width: 90%;
        margin: 0 auto;
    }

    .options{

        padding: 0;
    }
    .transactions{
        width: 90%;
        padding: 5px;

        margin-top: 20px ;
        margin-bottom: 50px;
    }
}

@media(max-width:518px){
    .options{
        width: 100%;
    }   
}
@media(max-width:482px){

    .oppBx{     
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
    }
    .opp span{
        font-size: 0.8em;
    } 
}

@media(max-width: 398px){

    .detail {
        font-size:  0.8em;
    }
    .ts{
        font-size: 0.6em;
    }
    .amount{
        font-size: 0.6em;
        min-width: 80px;
    }
}